.admin .firstname {
    max-width: 150px;
    width: 100%;
}
.admin .lastname {
    max-width: 150px;
    width: 100%;
}
.admin .username {
    max-width: 150px;
    width: 100%;
}

.admin .role {
    max-width: 100px;
    width: 100%;
}

.admin .buttons {
    max-width: 100px;
    width: 100%;
}

