<!doctype html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="./css/about.css">
    <title>The Best Mobile Bazaar - About</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <main class="about">
        <h2>About our company:</h2>
        <p>The first principle of our company - AS FOR YOURSELF! Each of you is truly dear to us, so we always try to justify the money and time spent by you and do everything to make you satisfied! This has made The  MobileBazaar of the leading online entertainment retailers in Brisbane.</p>
        <p>Since 2008, we have been doing everything to make our customers satisfied. We are a reliable partner for anyone: beginner or professional. Our shop currently employs highly motivated employees who are working hard to consistently offer you high quality service at attractive prices.</p>
        <p>If you have any concerns, please let us know. We will promptly resolve the issue. After all, our main goal is to provide high-quality service and provide the widest range of products.</p>
        <p class="green">What is The MobileBazaar?</p>
        <ul>
            <li>Australian enterprise with 15 years of history/li>
            <li>Central warehouse with an area of 1000 m²</li>
            <li>Own specialized service centre</li>
            <li>Own information and analytical agency</li>
            <li>Own call centre: individual and competent advice by phone and e-mail.</li>
            <li>Own courier delivery service in Brisbane.</li>
        </ul>
        <p class="green">Our advantages: </p>
        <ul>
            <li>Low and democratic prices</li>
            <li>The ability to buy on credit online without leaving home</li>
            <li>A wide range of products is always in stock</li>
            <li>Prompt arrival of new products</li>
            <li>Delivery in Brisbane within 1 day</li>
            <li>Free self-pickup in our office</li>
            <li>Own, high-quality service center</li>
            <li>Site search - Convenient and modern</li>
        </ul>
        <p>Official groups in social networks - <a href="">Facebook</a>, <a href="">Instagram</a></p>
    </main>
    <%- include("partials/footer.ejs") %>
    <%- include("partials/scripts.ejs") %>
</body>
</html>
