<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="./css/contacts.css">
    <title>The Best Mobile Bazaar - Contacts</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <main class="contacts">
        <p class="phone">
            Call Center: <a href="tel:18008002519">18008002519</a>
        </p>
        <p class="work-time">
            Daily: from 9:00 to 21:00
        </p>
        <div class="contacts-content">
            <% if(status === 'send'){ %>
                <h1>Your request has been sent!</h1>
            <% } else { %>
                <form action="/contacts" method="post" class="form">
                    <div class="title">
                        Send us a message
                    </div>
                    <div class="item">
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" required pattern="[a-zA-Z\-_' ]{2,}">
                    </div>
                    <div class="item">
                        <label for="surname">SurName</label>
                        <input type="text" id="surname" name="surname" required pattern="[a-zA-Z\-_' ]{2,}">
                    </div>
                    <div class="item">
                        <label for="number">Phone Number</label>
                        <input type="text" id="number" name="phone" required pattern="[0-9]{10,15}">
                    </div>
                    <div class="item">
                        <label for="question">What’s on your mind?</label>
                        <textarea name="question" id="question" cols="30" rows="10" required></textarea>
                    </div>
                    <button type="submit">Submit</button>
                </form>
            <% } %>
            <div class="map">
                <p>Address: 25 Ann Street, Brisbane, QLD, 4000</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3348.042076620832!2d152.9890125704701!3d-27.2465423538554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b93fb18ef54e041%3A0x62fb73a1b8c0817f!2sPenson%20Park%2C%2025%20Ann%20St%2C%20Kallangur%20QLD%204503%2C%20Austr%C3%A1lia!5e0!3m2!1spt-PT!2spl!4v1697463475097!5m2!1spt-PT!2spl" width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </main>
    <%- include("partials/footer.ejs") %>
    <%- include("partials/scripts.ejs") %>
</body>
</html>