.admin .contacts_id {
    min-width: 100px;
    width: 100%;
}

.admin .phone,
.admin .name,
.admin .surname {
    min-width: 150px;
    width: 100%;
}

.admin .description {
    min-width: 300px;
    width: 100%;
}

.admin .buttons {
    min-width: 100px;
    width: 100%;
}

