.admin .stock,
.admin .price,
.admin .product_id {
    min-width: 100px;
    width: 100%;
}

.admin .brand,
.admin .type,
.admin .name {
    min-width: 150px;
    width: 100%;
}

.admin .description {
    min-width: 300px;
    width: 100%;
}

