<div class="admin_header">
    <a href="/admin_staff">Staff</a>
    <a href="/admin_products">Products</a>
    <a href="/admin_orders">Orders</a>
    <a href="/admin_news">News</a>
    <a href="/admin_contacts">Contacts</a>
    <a href="/admin_changelog">Changelog</a>
    <a href="/auth_logout">Logout</a>
</div>
