<footer class="footer">
    <div class="nav">
        <ul>
            <li>  <a href="/product_list">Products</a></li>
            <li>  <a href="/about">About us</a></li>
            <li>  <a href="/news">News</a></li>
            <li>  <a href="/contacts">Contcats</a></li>
        </ul>
    </div>
    <div class="social">
        <p>Let’s be friends!</p>
        <div class="icons">
            <a href=""><img src="./img/instagram.png" alt=""></a>
            <a href=""><img src="./img/facebook.png" alt=""></a>
        </div>
    </div>
    <div class="additional">
        <div class="phone">
            <img src="./img/phone.png" alt="">
            <a href="tel:18008002519">1800 800 25 19</a>
        </div>
        <div class="login">
            <a href="/auth_login">
                <img src="./img/login.png" alt="">
                <span>Employee login</span>
            </a>
        </div>
    </div>
</footer>
